<%= form_for (@projects) do |form| %>
  <div>
    <b><%= form.label :title, style: "display: block" %></b>
    <%= form.text_field :title, required: true %>
  </div>
  <br>
  <div>
    <%= form.submit%>
  </div>
<% end %>