/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    background-color: #D3D3D3;
}
.Header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user{
    display: flex;
    color: black;
    font-size:40px;
    justify-content: center;
    align-items: center;
}
.btn
{
    padding-left:15px;
    align-items: center;
    padding-right:25px;
    font-weight: bold;
    padding-left: 25px;
    padding-top:10px;
    padding-bottom: 10px;
    color: white;
    background-color: black;
    text-transform: capitalize;
    border-radius: 10px;
}
.btn:hover {
    background-color: grey;
}