.container{
    flex-direction: row;
    border: solid;
    border-width: 1px;
    margin-top: 15px;
    padding:10px;
    justify-content: center;
    border-radius: 10px;
    align-content: center;
}